.customnode {
  position: relative;
  border-radius: 25%;
}
.detailview {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 8px;
  left: 105%; /* Position it to the right of the module */
  top: 0;
}

.mainblock {
  padding: 24px;
  position: relative;
  color:#000000;
}

.editbutton {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 8px;
  border: 1px black;
}
